@font-face {
  font-family: circ;
  src: url(../fonts/CircularSpotifyText-Black.otf);
}
@font-face {
  font-family: circ-bold;
  src: url(../fonts/CircularSpotifyText-Bold.otf);
}
@font-face {
  font-family: circ-medium;
  src: url(../fonts/CircularSpotifyText-Medium.otf);
}
@font-face {
  font-family: circ-light;
  src: url(../fonts/CircularSpotifyText-Light.otf);
}
* {
  margin: 0;
  padding: 0;
}

:root {
  --a: 0;
}

.container {
  background-color: black;
  height: 100vh;
  width: 100%;
  position: relative;
}

.left {
  width: 25%;
  font-family: circ;
}
.logo {
  padding: 1vw 1vw;
  display: flex;
  justify-content: space-between;
}

.logo .logo-img {
  width: 6.5vw;
}

.close-btn {
  background-color: #090909;
  width: 3vw;
  height: 4.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5vw;
  cursor: pointer;
  display: none;
}

.close-btn img{
  width: 1.5vw;
}

.home {
  min-height: 24vh;
  font-size: 1.2vw;
  font-weight: 700;
}

.home ul li {
  color: #b3b3b3;
  list-style: none;
  display: flex;
  gap: 1.5vw;
  padding: 1vw 1vw;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.home ul li .svg {
  width: 1.9vw;
  fill: #b3b3b3;
  transition: 0.3s ease-out;
}

.home ul li span {
  display: flex;
  align-items: center;
  margin-top: 0.4vw;
}

.home ul li:hover .svg {
  fill: black;
}

.home ul li:hover {
  color: #ffff;
  fill: #ffff;
}

.library {
  padding: 0.5vw;
  /* max-height: calc(100vh - 70vh); */
  /* min-height: calc(100vh - 48vh); */
  height: 52vh;
  width: 95.5%;
  font-size: 1.2vw;
  font-weight: 700;
}

.library-wrap {
  display: flex;
  justify-content: space-between;
}

.library-wrap ul li {
  color: #b3b3b3;
  list-style: none;
  display: flex;
  gap: 1.5vw;
  align-items: center;
  cursor: pointer;
  padding: 1vw 1vw;
}

.library-wrap ul li img {
  width: 1.9vw;
}

.library-wrap ul li span {
  display: flex;
  align-items: center;
  margin-top: 0.3vw;
}

.plus {
  width: 2.5vw;
  height: 5vh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  margin-top: 1vw;
  margin-right: 0.5vw;
}

.plus:hover {
  background-color: #1f1f1f;
  border-radius: 2vw;
}

.plus .plus-img {
  width: 1.2vw;
}

.song-list {
  margin-top: 1.5vw;
  cursor: pointer;
  color: #b3b3b3;
  overflow-y: auto;
  max-height: 40vh;
}

.song-list li {
  display: flex;
  align-items: center;
  padding: 0.5vw 0.5vw;
  gap: 1.5vw;
  justify-content: space-between;
  margin: 1vw 0;
}

.info {
  display: flex;
  gap: 1vw;
  width: 12vw;
}

.info img {
  width: 1.5vw;
}

.info h4 {
  margin-top: 0.2vw;
  color: #b3b3b3;
}

.info h4:hover {
  color: white;
}

.playNow {
  display: flex;
  gap: 1vw;
}

.playNow-img {
  width: 1.5vw;
}

.playNow span {
  margin-top: 0.2vw;
}

.playNow span:hover {
  color: white;
}

.right {
  width: 75%;
  height: 83vh;
}

nav {
  background-color: #101010;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 0vw 1vw;
}

.nav-left {
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
}

.nav-mune-btn {
  background-color: #090909;
  width: 3.5vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5vw;
  cursor: pointer;
  display: none;
}

.nav-mune-btn img{
  width: 2vw;
}

.nav-gb-btn {
  background-color: #090909;
  width: 2.5vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5vw;
  cursor: pointer;
}

.nav-gb-btn svg {
  width: 1.2vw;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3vw;
}

.nav-login-btns {
  font-family: circ-medium;
  font-weight: 700;
  font-size: 1.1vw;
  width: 8vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5vw;
  border: none;
  background-color: #ffff;
  transition: 0.2s ease-in;
}

.nav-login-btns:hover {
  background-color: #f0f0f0;
  font-size: 1.2vw;
  font-weight: 800;
  padding: 1.2vw 1.2vw;
}

.nav-login-btns span {
  display: flex;
  align-items: center;
  margin-top: 0.3vw;
}

.nav-signup-btns {
  font-family: circ-medium;
  font-weight: 700;
  font-size: 1.1vw;
  width: 10vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #101010;
  border: none;
  color: #b3b3b3;
  transition: 0.2s ease-in;
}

.nav-signup-btns:hover {
  color: white;
  font-size: 1.2vw;
}

.nav-signup-btns span {
  display: flex;
  align-items: center;
  margin-top: 0.3vw;
}

.card-container {
  margin: 1vw 1vw;
  overflow-y: auto;
  max-height: 70vh;
  display: flex;
  gap: 2vw;
  position: relative;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2vw;
}

.playList {
  font-family: circ-bold;
  font-weight: 700;
  font-size: 1.8vw;
  margin: 1vw 0.5vw;
  padding: 1vw 1vw;
}

.card {
  width: 12vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.2vw;
  border-radius: 0.5vw;
  cursor: pointer;
  transition: 0.3s linear all;
  font-family: circ;
  font-size: 1.2vw;
}

.card:hover {
  background-color: #1f1f1f;
}

.card-img {
  width: 12vw;
  object-fit: contain;
  margin-bottom: 0.5vw;
  border-radius: 0.5vw;
}

.play-bar {
  max-height: 13vh;
  width: 98%;
  background-color: #000;
  position: absolute;
  /* top: 0; */
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 1vw;
  padding: 0 1vw;
}

.song-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.shuffle-song {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s linear all;
}

.shuffle-song svg {
  width: 1.2vw;
  fill: #b3b3b3;
}

.prev-song {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s linear all;
}

.prev-song svg {
  width: 1.2vw;
  fill: #b3b3b3;
}

.prev-song svg:hover {
  fill: white;
}

.play-song {
  width: 2.5vw;
  border-radius: 5vw;
  padding: 0.5vw 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.play-song img {
  width: 1.5vw;
}

.next-song {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s linear all;
}

.next-song svg {
  width: 1.2vw;
  fill: #b3b3b3;
}

.next-song svg:hover {
  fill: white;
}

.repeat-song {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s linear all;
}

.repeat-song svg {
  width: 1.2vw;
  fill: #b3b3b3;
}

.timeline {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5vw;
  margin-top: 1vw;
  font-family: circ-light;
  font-size: 0.9vw;
}

/* .progress-bar {
  width: 80%;
  accent-color: white;
  height: 0.4vw;
  border: none;
  outline: none;
  cursor: pointer;
}

.progress-bar:hover {
  accent-color: #1ed55f;
} */

.seekbar {
  height: 0.6vh;
  width: 35vw;
  background: #4d4d4d;
  border-radius: 1.5vw;
  position: relative;
  cursor: pointer;
}

.progress {
  height: 100%;
  width: 0%; 
  background-color: #1ed55f;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 1.5vw 0 0 1.5vw;
  transition: width 0.5s;
}

.circle {
  width: 1vw;
  height: 2vh;
  border-radius: 50%;
  background-color: #1ed55f;
  position: relative;
  bottom: 0.3vw;
  left: 0%;
  transition: left 0.5s;
  z-index: 1; 
}

.song-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
  font-family: circ;
  font-weight: 400;
  font-size: 1vw;
  margin-top: 1.5vw;
  cursor: pointer;
}

.song-info .song-img img {
  width: 4.5vw;
  border-radius: 0.4vw;
}

.song-details {
  max-width: 10vw;
}

.song-details h5,
h4 {
  padding: 0.2vw 0;
  color: #ffff;
}

.song-details h5,
h4:hover {
  color: #b3b3b3;
}

.sound {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
  gap: 1vw;
}

/* .sound-progress {
  accent-color: white;
  height: 0.4vw;
  border: none;
  outline: none;
  cursor: pointer;
}

.sound-progress:hover {
  accent-color: #1ed55f;
} */

.sound-progress{
  height: 0.6vh;
  width: 8vw;
  background: #4d4d4d;
  border-radius: 1.5vw;
  position: relative;
  cursor: pointer;
}

.progress-track {
  height: 100%;
  width: 0%; 
  background-color: #1ed55f;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 1.5vw 0 0 1.5vw;
  transition: width 0.5s;
}

.progress-circle {
  width: 1vw;
  height: 2vh;
  border-radius: 50%;
  background-color: #1ed55f;
  position: relative;
  bottom: 0.3vw;
  left: 0%;
  transition: left 0.5s;
  z-index: 1; 
}

.sound img {
  width: 1.5vw;
  fill: #b3b3b3;
  cursor: pointer;
}

.sound img:hover {
  fill: white;
}

@media (max-width: 1160px) {
  .left {
    width: 30%;
  }

  .logo .logo-img{
    width: 8vw;
  }

  .home {
    font-size: 1.5vw;
  }

  .home ul li .svg {
    width: 2vw;
  }

  .library {
    font-size: 1.5vw;
    width: 96%;
    height: 51vh;
  }

  .library-wrap ul li img {
    width: 2vw;
  }

  .plus .plus-img {
    width: 1.5vw;
  }

  .info img {
    width: 2vw;
  }

  .playNow-img {
    width: 1.6vw;
  }

  .card {
    height: 35vh;
    width: 13vw;
    font-size: 1.5vw;
  }

  .card-img {
    width: 13vw;
  }

  .song-details{
    max-width: 14vw;
  }

  .song-info {
    font-size: 1.2vw;
  }

  .song-info .song-img img {
    width:  5vw;
  }

  .shuffle-song svg {
    width: 1.4vw;
  }

  .prev-song svg{
    width: 1.4vw;
  }

  .play-song {
    width: 3vw;
    padding: 0.7vw 0;
  }

 .play-song img{
  width: 1.6vw;
 } 

  .next-song svg{
    width: 1.4vw;
  }

  .repeat-song svg{
    width: 1.4vw;
  }

  .timeline {
    width: 55vw;
  }

  .progress-bar {
    height: 0.5vw;
  }

  .sound img{
    width: 1.4vw;
  }

  .sound-progress{
    width: 10vw;
  }
}

@media (max-width: 1080px) {
  .library {
    height: 54vh;
  }
}

@media (max-width: 960px) {

  .nav-gb-btn {
    width: 3.5vw;
    height: 5vh;
  }
  .card {
    height: 33vh;
    width: 14vw;
  }

  .card-img {
    width: 14vw;
  }

  .library {
    height: 55vh;
  }
}

@media (max-width: 850px) {

  .close-btn{
    display: flex;
  }

  .left {
    width: 25%;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #090909;
    transition: 0.4s ease-in;

  }

  .right{
    width: 100%;
    margin-left: 0.5vw;
  }

  .nav-gb-btn {
    display: none;
  }
  
  .nav-mune-btn{
    display: flex;
  }

  .play-bar{
    margin-bottom: 1.5vw;
  }

  .song-info .song-img img {
    width:  7vw;
  }

  .song-info{
    font-size: 1.5vw;
    margin-bottom: 1vw;
  }

  .shuffle-song svg {
    width: 1.8vw;
  }

  .prev-song svg{
    width: 1.8vw;
  }

  .play-song {
    width: 3.8vw;
    padding: 0.9vw 0;
  }

 .play-song img{
  width: 1.8vw;
 } 

  .next-song svg{
    width: 1.8vw;
  }

  .repeat-song svg{
    width: 1.8vw;
  }

  .timeline {
    width: 58vw;
  }

  .sound{
    margin-bottom:1vw;
  }

  .sound img{
    width: 1.8vw;
  }

  .sound-progress{
    width: 10vw;
  }
}


